@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide the scrollbar but allow scrolling in WebKit browsers */
body::-webkit-scrollbar {
  width: 0;
}

.dropdown {
  opacity: 0;
  height: 0px;
  transform: translateY(-10%);
  padding:0px;
  transition: opacity 0.3s ease-in-out, transform 0.2s ease-in-out, height 0.2s ease-in-out, padding 0.2 ease-in-out;
}

.dropdown-enter {
  opacity: 1;
  height: 500px;
  padding:40px;
  transform: translateY(0%);
}

.dropdown-exit {
  opacity: 0;
  height: 0px;
  padding:0px;
  transform: translateY(-10%);
}

.sidebar-hidden {
  transform: translateX(100%);
  opacity: 0;
  pointer-events: none;
}

.sidebar-visible {
  transform: translateX(0);
  opacity: 1;
  pointer-events: auto;
}


.content p{
  @apply text-xs sm:text-sm md:text-base text-gray-300
}
.content-list {
  @apply text-xs border-l-[1px] border-slate-600 sm:text-sm md:text-base list-none  pl-8 text-gray-300
  }
  
  .content-list li::marker {
    content: "> ";
  }
  
  .content-p {
    @apply text-xs sm:text-sm md:text-base text-white
  }
  .content-h1 {
    @apply text-3xl sm:text-4xl md:text-5xl text-center my-6 sm:my-8 md:my-10 text-white border-b-[2px] border-slate-500 pb-14
  }
  .content-h2 {
    @apply  text-2xl sm:text-3xl md:text-4xl  text-left my-4 sm:my-6 md:my-8 text-secondary border-b-[1px] border-slate-500 pb-4
  
  }
  .content-h3 {
    @apply text-lg sm:text-xl md:text-2xl text-secondary my-4 mt-4
  }

  .footer-link {
    @apply text-gray-400 hover:text-white transition-all hover:underline-offset-4 
  }

  input,
textarea,
button,
select,
a,
div {
    -webkit-tap-highlight-color: transparent;
}
